/* TaskPage.css */
.task-container {
    background-color: #ecf0f1;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
  }
  
  .task-title {
    margin-bottom: 1.5rem;
    color: #2c3e50;
  }
  
  .task-form {
    margin-bottom: 2rem;
  }
  
  .task-table {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .task-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  
  .task-status-select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
  }
  
  .task-actions button {
    margin-left: 0.5rem;
  }
  
  .comment-section {
    margin-top: 2rem;
  }
  
  .comment-button {
    margin-left: 1rem; /* Ajouter un espacement entre le bouton et le texte du commentaire */
  }
  
  /* Ajouter des couleurs pour le bouton de statut */
  .status-pending .task-status-select {
    background-color: white;
  }
  
  .status-in_progress .task-status-select {
    background-color: orange;
  }
  
  .status-completed .task-status-select {
    background-color: lightcoral;
  }
